.profile-container {
    text-align: center;
    margin-top: 20px;
  }
  
  ion-avatar {
    margin-bottom: 15px;
  }
  
  ion-card {
    margin: 10px;
  }
  
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-card-content {
    font-size: 14px;
  }
  
  ion-button {
    margin-top: 10px;
  }

  