.welcome-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome-container h2 {
    font-size: 24px;
    color: #3c3c3c;
  }
  
  .welcome-container p {
    font-size: 18px;
    color: #5a5a5a;
  }