<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="sendPasswordResetEmail()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        required>
      </ion-input>
    </ion-item>

    <div class="ion-margin-top">
      <ion-button expand="block" type="submit">Enviar Enlace</ion-button>
            <!-- Botón de regresar -->
            <ion-button (click)="goToLogin()">Regresar</ion-button>
    </div>
  </form>

  <div *ngIf="mensaje" class="ion-text-center ion-margin-top">
    <p>{{ mensaje }}</p>
  </div>
</ion-content>
